<footer>
    <div class="footer-layout py-4">
        <div class="container py-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 ">
                            <div class="footer-contant d-flex justify-content-end flex-column text-end">
                                <h1 class="pb-3 ">اتصل بنا</h1>
                                <p>شارع الشيخ زايد - البرشاء - البرشاء 1 - دبي - الإمارات </p>
                                <p>+971 800 6636255</p>
                                <p>k-shop@hotmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-contant d-flex justify-content-end flex-column text-end">
                                <h1 class="pb-3 ">صفحات</h1>
                                <p> <a routerLink="/home">الرئيسية</a></p>
                                <p><a routerLink="/products">المنتجات</a></p>
                                <p><a routerLink="/home">من نحن</a></p>
                                <p><a routerLink="/home">تواصل معانا</a></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer-contant d-flex justify-content-end flex-column text-end">
                                <h1 class="pb-3 ">تابعونا </h1>
                                <div class="social-link d-flex justify-content-end pb-4">
                                    <i class="fa-brands fa-facebook-f me-3 social"></i>
                                    <i class="fa-brands fa-twitter social me-3"></i>
                                    <i class="fa-brands fa-instagram social me-3"></i>
                                    <i class="fa-brands fa-google social"></i>
                                </div>
                               <small>© 2023 K-shop. جميع الحقوق محفوظة</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>