<!-- first nav-bar -->
<nav class="navbar bg-white py-3">
    <div class="container-fluid w-100">
        <div class="d-flex justify-content-between w-100" role="search">
            <button class="btn btn-card me-3"> <i class="fa-sharp fa-solid fa-cart-shopping me-2"></i>سلة التسوق</button>
            <button class="btn btn-profile me-3"><i class="fa-solid fa-user"></i></button>
            <input class="form-control Search-inp me-2 w-75" type="search" placeholder="عم تبحث ؟">
            <img src="../../assets/Path 224.svg" class="navbar-brand mx-auto"/>
        </div>
    </div>
</nav>

<!-- second nav-bar  -->
<nav class="navbar d-flex flex-end navbar-expand-lg second-nav">
    <div class="container-fluid">
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item pe-3 ">
                <a class="nav-link" href="#">من نحن</a>
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link" href="#">تواصل معانا</a>
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link" href="#">قائمة الامنيات</a>
              </li>
              <li class="nav-item pe-3">
                <a class="nav-link active" aria-current="page" href="#">الرئيسية</a>
              </li>
            <li class="nav-item dropdown pe-3">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                الأقسام
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">هواتف</a></li>
                <li><a class="dropdown-item" href="#">ملابس</a></li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </nav>